body {
  margin: 0 auto;
  max-width: 1000px;
  font-family: sans-serif;

}

.page-container {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  display: flex;
  flex-direction: column;
  border: 5px solid lightgray;
}

div {
  margin: 0;
}

.header {
  margin: 2px;
  width: auto;
  height: 144px;
  padding: 1rem 2rem;
  border: 1px solid blue;
}

.title {
  margin: 2px;
  width: auto;
  color: tomato;
}

.subtitle {
  margin: 2px;
  width: auto;
}

.navBar {
  margin: 2px;
  width: auto;
}

.navList {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.list-items {
  margin: 2px;
  color: lightgray;
}

.links {
  font-style: bold;
}

.main {
  margin: 2px;
  width: auto;
  height: 228px;
  padding: 1rem 2rem;
  border: 1px solid orange;
}

.article-dates {
  margin: 2px;
  width: auto;
}

.article-titles {
  margin: 2px;
  width: auto;
}

.article-images {
  margin: 2px;
  width: 100%;
}

.articles {
  margin: 4rem .5rem;
  width: auto;
}

.footer {
  width: 800px;
  height: 228px;
  padding: 1rem 2rem;
  border: 1px solid fuchsia;
}

/* .left-top-box {
  height: 85px;
  display: flex;
  flex-direction: column;
}

.left-top-box1 {
  margin: 2px;
  width: 395px;
  height: 42px;
  border: 1px solid red;
}

.left-top-box2 {
  margin: 2px;
  width: 395px;
  height: 42px;
  border: 1px solid blue;
}

.box {
  margin: 2px;
  height: 85px;
  border: 1px solid fuchsia
}

.right-column {
  margin: 2px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.right-top-box {
  margin: 2px;
  height: 42px;
  border: 1px solid steelblue;
  margin: 2px;
}

.right-bottom-box {
  margin: 2px;
  height: 552px;
  border: 1px solid gray;
} */