doctype html
html
  head
    title= title
  body
    h1 Welcome to #{title}
    a(href="/add") Add New Article
    a(href="/about") About
    ul
      each article in articles
        li
          h2= article.title
          p= article.body
