<!DOCTYPE html>
<html>

<head>
  <title>Simple To-Do List</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <fieldset id="fieldset">
    <h1>TO-DO
      <span id="italic">to</span>
      <span id="arrow">→</span>
      TA-DA!
    </h1>
    <legend id="legend">Daily & Consistent</legend>

    <form action="/tasks" method="POST">
      <input type="text" name="task" placeholder="Add a to-do task">
      <button type="submit">Add Task</button>
    </form>

    <ul id="task-list">
      <% tasks.forEach(task=> { %>
        <li>
          <span>
            <%= task.task %>
          </span>
          <form action="/tasks/<%= task.id %>?_method=PUT" method="POST">
            <input type="text" name="task" value="<%= task.task %>">
            <button type="submit">Update</button>
          </form>
          <form action="/tasks/<%= task.id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
          </form>
        </li>
        <% }); %>
    </ul>
  </fieldset>
</body>

</html>