doctype html
html(lang="en")
  head
    title Simple To-Do List
    link(rel="stylesheet" href="/style.css")
  body
    fieldset#fieldset 
      h1 To-Do #[span to] Ta-Da
      legend#legend Daily & Consistent
      form#-form
        input(type="text" id="newTask" placeholder="Add a task")
        button(type="submit") Add Task
      ul#task-list
    script(src="/script.js")
    
