doctype html
html(lang="en")
  head
    title Simple To-Do List
    link(rel="stylesheet" href="/style.css")
  body
    h1 My To-Do List
    form#task-form
      input(type="text" id="task-input" placeholder="Add a task" required)
      button(type="submit") Add
    ul#task-list
    script(src="/script.js")
