* {
  margin: 0 auto;
  font-family: 'Montessarat', sans-serif;
  font-size: 14px;
}

#app {
  margin: 40px auto;
  width: 500px;
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#selectSect {
  margin: 20px auto 10px;
  text-align: center;
}

#imageBox {
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#clientPic {
  width: 240px;
  height: 300px;

}

table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid navy;
}

ul {
  list-style-type: none;
  ;
}