doctype html
html
  head
  body 
  header#header 
    h1#pageTitle  Hello World
    p. 
      This is the world
      as we know it.
    ul 
      li.bullets Item 1
      li.bullets item 2
      li.bullets item 3
    
    input(type="password" name="inpPwd" data-js=`${1>= 2 ? "OK" : "Not Ok"}`)





