<!--Knowledge Inspiration: Pug Templare Engine :: FreeCode Camp 
***** To Set-Up Pug Template Engine *****
1. Create Root Folder
2. Create html folder
3. in html folder, create 'index.pug' file
4. At top of index.pug file, type 'doctype html'
5. in vs code terminal, type 'pug -w ./ -o .index.html -P'
--> 

doctype html
html
  head
  body 
    h1 Hello World
    p
